---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include metadata.html %}
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [ ['$','$'],['\\(','\\)']],
                       displayMath: [['\\[','\\]'], ['$$','$$']]}});
</script>
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
  </head>
  <body>
    <div class="container">
      <div class="row" id="main-row">
        {% include left.html %}
        {% include main.html %}
        {% include right.html %}
        {% include check_mode.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
